# Dependencies
node_modules

# Build output
/dist

# Environment variables
.env
.env.*
!.env.example

# Prisma generated client
/generated/prisma

# IDE / Editor
.vscode
.idea
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Coverage
/coverage

# OS files
Thumbs.db
